

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: center;
  display: none;
  width:800;
  height:400;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
 	display: block;
	height: auto;
	float: left;
	border: 0;
  width:800;
  height:400;
	
  }
